<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="./css/ripples.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap-material-design.css">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>



<body>
<div id="fb-root"></div>

<script type="text/javascript" src="./js/facebook.js"></script>

<div class="container top-container">

<!--Indicate Test -->
<div class="container jumbotron">


<!--testing facebook like button-->


<!--------------begin test -->


<!-- end test -->


	<div class="container jumbotron text-center">
		<h1>Your Ideas to Make Dallas Better!</h1>
		<h3>Add yours here:</h3><img src="./images/qr.png"/>

					<div
			  class="fb-like"
			  data-share="true"
			  data-width="450"
			  data-show-faces="true">
			</div>

	</div>

	<div class="container">
		<h1>Educated City Ideas</h1>
		<ul class="postIts jumbotron canaryYellow" id="educated">

			<!--<div class="postItShadow"></div>-->
			<% 	
				function populateCards( idea ) { 
					console.log(idea.category + ': ' + idea.idea);
					console.log(typeof(idea.postedBy));

				%>
				<li class="postIt container jumbotron">
					<h3><%= idea.idea %></h3>
					<div class="postItDescription"><p><%= idea.description %></p></div>

						<% if(typeof(idea.postedBy) !== 'undefined' && idea.postedBy !== null ) {
							console.log('test');
							if(typeof(idea.postedBy.facebook.name)!=='undefined' && typeof(idea.postedBy.facebook.name)!== null && idea.postedBy.facebook.name !== "")
								{ 
								//facebook template
								%>
									<a target="_blank" href="<%=idea.postedBy.facebook.link%>" >
										<img class="defaultAvatar" src="<%= idea.postedBy.facebook.avatar %>" data-toggle="tooltip" data-placement="left" title="<%=idea.postedBy.facebook.name%>">
									</a>

							<% } else if( typeof(idea.postedBy.local.fullName) !== 'undefined' && typeof(idea.postedBy.local.fullName)!== "" )
								{

								%>
										<span class="postItName" >
											<%=idea.postedBy.local.fullName%>
										</span>
								<%
								if(idea.postedBy.local.avatar) {
								//if there is a local avatar
								%>
									<a target="_blank" href="<%= idea.postedBy.local.link %>">
										<img class="defaultAvatar " src="<%= idea.postedBy.local.avatar %>" data-toggle="tooltip" data-placement="left" title="<%= idea.postedBy.local.fullName %>">
									</a>
								<%

								} else {
								//if there is no avatar
								%>
										<img class="defaultAvatar noAvatar" src="" data-toggle="tooltip" data-placement="left" title="<%=idea.postedBy.local.fullName%>">


							  <%}}};%> 


				</li>

			<% }; %>

			<%
				ideas.filter(function(value){
					return value.category === 'educated';
				}).forEach( populateCards);
			%>
		</ul>



		<h1>Entrepreneurial City Ideas</h1>
		<ul class="postIts jumbotron greenPostIt" id="entrepreneurial">
			<!--<div class="postItShadow"></div>-->
			<% 	
				ideas.filter(function(value){
					return value.category === 'entrepreneurial';
				}).forEach( populateCards);

				 %>
		</ul>


		<h1>Healthy City Ideas</h1>
		<ul class="postIts jumbotron pinkPostIt" id="healthy">
			<!--<div class="postItShadow"></div>-->
			<% 	
				ideas.filter(function(value){
					return value.category === 'healthy';
					}).forEach( populateCards);
			%>
		</ul>


		<h1>Literary City Ideas</h1>
		<ul class="postIts jumbotron redPostIt" id="literary">
			<!--<div class="postItShadow"></div>-->
			<% 	
				ideas.filter(function(value){
					return value.category === 'literary';
				}).forEach( populateCards ); 
			%>
		</ul>


		<h1>Physical City Ideas</h1>
		<ul class="postIts jumbotron orangePostIt" id="physical">

			<% 	
				ideas.filter(function(value){
					return value.category === 'physical';
				}).forEach( populateCards );

			%>


		</ul>


		
	</div>

</div>


	<script src="./js/jquery.js"></script>
	<script src="./js/npm.js"></script>
	<script src="./js/bootstrap.js"></script>
	<script src="./js/material.js"></script>
	<script src="./js/jserialize.js"></script>
	<script src="js.js"></script>
</body>

</html>